# Buộc tất cả file source code dùng LF trong repo
*.py     text eol=lf
*.md     text eol=lf
*.js     text eol=lf
*.html   text eol=lf
*.css    text eol=lf
*.json   text eol=lf

# File binary thì không cần xử lý line ending
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary